*
{
    margin: 0;
    padding: 0;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../A-Cold-Sunset-Background.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul{
    float: right;
    padding: 1px 10px;
    font-family: sans-serif;
    margin-top: 20px;
    list-style-type: none;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.4s ease-in;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
}

ul li.active a{
    background-color: #fff;
    color: #000;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title h1{
    color: goldenrod;
    font-size: 70px;
    font-family: sans-serif;
}

.button{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: cursive;
}

.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    padding: 8px;
    transition: 0.6s ease;
}

.btn:hover{
    background-color: #fff;
    color: #000;
    }

h1{
        font-family: sans-serif;
        color: hotpink;
    }
    


h2{
    color: orange;
    font-family: cursive;
}

.u{
    position: absolute;
    top: 15%;
    left: 20%;
    right: 15%;
    transform: translate(-5%,-5%);
}

.titl h1{
    font-family: sans-serif;
    color: darkturquoise;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

.titl h1{
    position: absolute;
    top: 5%;
    left: 30%;
    transform: translate(-5%,-5%);
    font-family: sans-serif;
}




h2{
    color: khaki;
    font-family: cursive;
}

.u{
    position: absolute;
    top: 20%;
    left: 50%;
    right: 15%;
    transform: translate(-5%,-5%);
}



.p img {
    border-radius: 30%;
        max-width: 500px;
        margin-left: 80px;
        margin-top: 100px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.p img:hover {
    border-radius: 20px;
    max-width: 550px;
  }